.header {
    height: 100px;
    background-color: #F4F4F4;
    background-image: url("../../imgs/topmenu.png")
}

.logo {
    height: 100px;
    width: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.guide {
    width: 100%;
    height: 100px;
}

.adver {
    width: 100%;
    height: 30px;
    opacity: 0.8;
    line-height: 30px
}

.adver p {
    word-spacing: 2px;
    letter-spacing: 1.5px;
    color: gray;
    font-weight: 700;
    font-size: 11px;
    margin-left: 25px;
}

.contain {
    width: 100%;
    height: 70px;
    opacity: 0.8;
    display: flex;
}


/* home 页面*/

.contain .home {
    display: block;
    height: 70px;
    width: 15%;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700
}

.contain a:hover {
    color: #F4F4F4
}

.contain .home:nth-of-type(1) {
    background-color: #ee3440;
    border-bottom: 4px solid #ee3440
}

.contain .home:nth-of-type(1):hover {
    background-color: #ee3440;
}

.contain .home:nth-of-type(2) {
    color: #222222;
    border-bottom: 4px solid #87af24
}

.contain .home:nth-of-type(2):hover {
    color: #ffffff;
    background: #87af24
}

.contain .home:nth-of-type(3) {
    color: #222222;
    border-bottom: 4px solid #ea4c89
}

.contain .home:nth-of-type(3):hover {
    color: #ffffff;
    background: #ea4c89
}

.contain .home:nth-of-type(4) {
    color: #222222;
    border-bottom: 4px solid #00aed7
}

.contain .home:nth-of-type(4):hover {
    color: #ffffff;
    background: #00aed7
}


/* 游记 */

.contain .travels {
    display: block;
    height: 70px;
    width: 15%;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700
}

.contain .travels:nth-of-type(1) {
    color: #222222;
    border-bottom: 4px solid #ee3440
}

.contain .travels:nth-of-type(1):hover {
    color: #ffffff;
    background-color: #ee3440;
}

.contain .travels:nth-of-type(2) {
    background-color: #87af24;
    border-bottom: 4px solid #87af24
}

.contain .travels:nth-of-type(2):hover {
    background: #87af24
}

.contain .travels:nth-of-type(3) {
    color: #222222;
    border-bottom: 4px solid #ea4c89
}

.contain .travels:nth-of-type(3):hover {
    color: #ffffff;
    background: #ea4c89
}

.contain .travels:nth-of-type(4) {
    color: #222222;
    border-bottom: 4px solid #00aed7
}

.contain .travels:nth-of-type(4):hover {
    color: #ffffff;
    background: #00aed7
}


/* 产品 */

.contain .goods {
    display: block;
    height: 70px;
    width: 15%;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700
}

.contain .goods:nth-of-type(1) {
    color: #222222;
    border-bottom: 4px solid #ee3440
}

.contain .goods:nth-of-type(1):hover {
    color: #ffffff;
    background-color: #ee3440;
}

.contain .goods:nth-of-type(2) {
    color: #222222;
    border-bottom: 4px solid #87af24
}

.contain .goods:nth-of-type(2):hover {
    color: #ffffff;
    background: #87af24
}

.contain .goods:nth-of-type(3) {
    background-color: #ea4c89;
    border-bottom: 4px solid #ea4c89
}

.contain .goods:nth-of-type(3):hover {
    background: #ea4c89
}

.contain .goods:nth-of-type(4) {
    color: #222222;
    border-bottom: 4px solid #00aed7
}

.contain .goods:nth-of-type(4):hover {
    color: #ffffff;
    background: #00aed7
}


/* APP */

.contain .APP {
    display: block;
    height: 70px;
    width: 15%;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700
}

.contain .APP:nth-of-type(1) {
    color: #222222;
    border-bottom: 4px solid #ee3440
}

.contain .APP:nth-of-type(1):hover {
    color: #ffffff;
    background-color: #ee3440;
}

.contain .APP:nth-of-type(2) {
    color: #222222;
    border-bottom: 4px solid #87af24
}

.contain .APP:nth-of-type(2):hover {
    color: #ffffff;
    background: #87af24
}

.contain .APP:nth-of-type(3) {
    color: #222222;
    border-bottom: 4px solid #ea4c89
}

.contain .APP:nth-of-type(3):hover {
    color: #ffffff;
    background: #ea4c89
}

.contain .APP:nth-of-type(4) {
    background-color: #00aed7;
    border-bottom: 4px solid #00aed7
}

.contain .APP:nth-of-type(4):hover {
    background: #00aed7
}


/* 欢迎你 */

.contain .welcome {
    display: block;
    height: 70px;
    width: 15%;
    line-height: 70px;
    text-align: center;
    color: #222222;
    font-size: 14px;
    font-weight: 700
}

.contain .welcome:nth-of-type(1) {
    border-bottom: 4px solid #ee3440
}

.contain .welcome:nth-of-type(1):hover {
    background-color: #ee3440;
}

.contain .welcome:nth-of-type(2) {
    border-bottom: 4px solid #87af24
}

.contain .welcome:nth-of-type(2):hover {
    background: #87af24
}

.contain .welcome:nth-of-type(3) {
    border-bottom: 4px solid #ea4c89
}

.contain .welcome:nth-of-type(3):hover {
    background: #ea4c89
}

.contain .welcome:nth-of-type(4) {
    border-bottom: 4px solid #00aed7
}

.contain .welcome:nth-of-type(4):hover {
    background: #00aed7
}